
@{
    ViewData["Title"] = "AddFriend";
}

<h1>You already have this person in your list.</h1>

<style>
    @@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        text-align: center;
    }
</style>