
@{
    ViewData["Title"] = "AddFriend";
}

<h1 style="font-family:Bahnschrift;color:black;text-shadow:  -1px -1px 0 white,
    1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white">You already have this person in your list.</h1>

