


@model IEnumerable<FinalProject_Recipes.Models.AspNetUsers>

@{
    ViewData["Title"] = "Index";
}

<h2>User Search</h2>



<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Username: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.UserName)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

            </tr>
        }
    </tbody>
</table>
