
@{
    ViewData["Title"] = "ViewFriends";
}

@model IEnumerable<FinalProject_Recipes.Models.AspNetUsers>

<h1 >
    View Friends
</h1>
@Html.ActionLink("Add A Friend", "Index", "Friend")
<table class="content-table">
    <tr>
        <th>Friend</th>
        <th>&nbsp;&nbsp;Diet</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>&nbsp;&nbsp;@item.Diet</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("View Favorite Recipes", "DisplayFriendFavorite", "Favorites", item)</td>
            
            
            <td>&nbsp;&nbsp; @Html.ActionLink("Remove From List", "RemoveFriend", "Friend", item)</td>
        </tr>
    }
</table>
<style>
        @@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

  .content-table{
        border-collapse:collapse;
        margin:25px 0;
        font-size:1.5rem;
        min-width:400px;
        border-radius: 10px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0 ,0 ,0, 0.15);  
        background-color: chocolate;
        color:white; 
        font-family: 'Raleway', sans-serif;
        
            
            
    }
    .content-table thead tr{
        background-color:coral;
        color:whitesmoke;
        text-align:center; 
        font-weight:bold;
    }
    .content-table th,
    content.content-table td{
        padding: 15px 15px;

    }
    .content-table tbody tr{
        border-bottom:2px solid #dddddd

    }
    .content-table tbody tr:nth-of-type(even)
    {
        background-color:#f3f3f3;
        color: black;
    }
    .content-table tbody tr:last-of-type
    {
        border-bottom:2px solid coral;
    }
    .content-table tbody tr.active row
    {
        font-weight:bold;
        color:coral;
    }



</style>