@{
    ViewData["Title"] = "Home Page";
}
@model FinalProject_Recipes.Models.Recipe

<h1><u>Welcome to Eat This Not That</u></h1>
<h2>Here is a random recipe</h2>

<a href='@Url.Action("GetRandomRecipe", "Recipe")'>
    <img src='@Url.Content("~/Question mark plate.png")' width="500" />
</a>
