

@{
    ViewData["Title"] = "Pork";
}
@model FinalProject_Recipes.Models.Recipe

<table class="table-dark">
    <tr>
        <th><b><u>Pork Recipes</u></b></th>
    </tr>
    @foreach (var item in Model.meals)
    {
        <tr>
            <td>@item.strMeal</td>
            <td><img src="@item.strMealThumb" alt="@item.strMeal" width="100" height="100" /></td>
            <td>@Html.ActionLink("View Recipe", "ViewRecipe", item)</td>
        </tr>
    }
</table>





