
@{
    ViewData["Title"] = "ViewRecipes";
}
@model FinalProject_Recipes.Models.Recipe
<div class="browse">

    <div class="row">
        @foreach (var item in Model.meals)
        {
            <div class="column">
                <div class="border-style">
                    <div>
                        @item.strMeal
                    </div>
                    <div>
                        @Html.ActionLink("View Recipe", "ViewRecipe", "Recipe", item)
                    </div>
                    <div>
                        <img src="@item.strMealThumb" alt="@item.strMeal" width="200" height="150" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>
    <style>
           @@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
        .border-style {
            color: black;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: medium;
            border: solid;
            border-color: white;
            border-width: thick;
            margin: 15px;
        }

       

    .recipe {
        font-family: 'Raleway', sans-serif;
    }
    </style>

