
@{
    ViewData["Title"] = "DisplayGroups";
}
@model IEnumerable<FinalProject_Recipes.Models.Group>
    <table class="table-danger">
        <tr>
            <th>Group</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GroupName</td>
                <td>@Html.ActionLink("View Group","ViewGroup","Group", item)</td>
            </tr>
        }
    </table>

