
@{
    ViewData["Title"] = "DisplayGroups";
}
@model IEnumerable<FinalProject_Recipes.Models.Group>
<table class="table" style="font-family:Bahnschrift;color:black;text-shadow:  -1px -1px 0 white,
    1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white">
    <tr>
        <th>Group</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GroupName</td>
            <td>@Html.ActionLink("View Group", "ViewGroup", "Group", item)</td>
            <td>@Html.ActionLink("Remove Group", "RemoveGroup", "Group", item)</td>
        </tr>
    }
</table>
<div style="font-family:Bahnschrift;color:black;text-shadow:  -1px -1px 0 white,
    1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white">
@Html.ActionLink("Search Group", "ListGroups", "Group")
    </div>
