
@{
    ViewData["Title"] = "ListGroups";
    
}
@model IEnumerable<FinalProject_Recipes.Models.Group>
<h1>List Groups</h1>
<table class="table-borderless">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GroupName</td>
            <td>@Html.ActionLink("Add Group","AddExistingGroup","Group",item)</td>
        </tr>
    }

</table>

<form action="/Group/AddGroup" method="post">
    <input type="text" name="groupName" value="" />
    <input type="submit"  value="Add Group" />
</form>

@ViewData["Name"]

@Html.ActionLink("Go Back","DisplayGroups","Group")