
@{
    ViewData["Title"] = "ListGroups";
    
}
@model IEnumerable<FinalProject_Recipes.Models.Group>
<h1 style="font-family:Bahnschrift;color:black;text-shadow:  -1px -1px 0 white,
    1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white">List Groups</h1>
<table class="table-borderless">
    @foreach (var item in Model)
    {
        <tr style="font-family:Bahnschrift;color:black;text-shadow:  -1px -1px 0 white,
    1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white">
            <td>@item.GroupName</td>
            <td>@Html.ActionLink("Add Group","AddExistingGroup","Group",item)</td>
        </tr>
    }

</table>

<form action="/Group/AddGroup" method="post">
    <input type="text" name="groupName" value="" />
    <input type="submit"  value="Add Group" />
</form>

@ViewData["Name"]

@Html.ActionLink("Go Back","DisplayGroups","Group")