
@{
    ViewData["Title"] = "FindRecipe";
}
@model FinalProject_Recipes.Models.Recipe
<h1 class="text-center"><u>Found Recipes</u></h1>
@{ if (Model.meals != null)
    {
        
        <div class="row">
        @foreach (var item in Model.meals)
        {
            <div class="column">
                <div class="border-style">
                    <div>
                        @item.strMeal
                    </div>
                    <div>
                        @Html.ActionLink("View Recipe", "ViewRecipe", item)
                    </div>
                    <div>
                        <img src="@item.strMealThumb" alt="@item.strMeal" width="200" height="150" />
                    </div>
                </div>
            </div>
        }
        </div>


    }



    else
    {
        < p > Sorry, no recipes matched your search and your preferences.</ p >
    }
}
}

<style>
    .border-style {
        color: black;
        
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        border:solid;
        border-color:white;
        border-width:thick;
        margin:15px;
    }
</style>
