
@{
    ViewData["Title"] = "Search";
}

<h1><u>Search By:</u></h1>
<form action="/Recipe/FindRecipe" method="post">
    <h3>Main Ingredient</h3>
    <input type="text" name="search" placeholder="Ingredient" />
    <input type="submit" value="Search for Recipe" />
    <br />

    <h3>Category</h3>
    <input type="text" name="search" placeholder="Catergory" />
    <input type="submit" value="Search for Recipe" />
    <br />

    <h3>Area</h3>
    <input type="text" name="search" placeholder="Area" />
    <input type="submit" value="Search for Recipe" />
</form>



